$white: rgb(255, 255, 255);

$blue: #005a96;
$blue-1: #0060a0;
$blue-light: #65c6e7;
$blue-dark: #004879;
$title-blue: #3585be;

$gray: #808080;
$gray-1: #f3f4f6;
$gray-light: rgb(161, 161, 161);

$green: #00A300;

$red: red;

$black: black;
