<!-- <form id="loginForm" #loginForm="ngForm">
  <div class="form-group mx-auto">
    <span class="field-icon"
      ><img src="assets/media/email.svg" alt="E-mail icon" />
    </span>
    <div class="d-flex">
      <input
        type="email"
        class="form-control"
        id="emailField"
        aria-describedby="email"
        placeholder="Enter email"
        required
        name="user"
        ngModel
        user
        #user="ngModel"
      
      />
      <div
        *ngIf="user.invalid && (user.dirty || user.touched)"
        class="field-error"
      >
        <img src="assets/media/error.svg" alt="Error indicator icon" />
      </div>
    </div>
  </div>
  <div class="form-group mx-auto">
    <span class="field-icon"
      ><img src="assets/media/password.svg" alt="Password icon" />
    </span>
    <div class="d-flex">
      <input
        type="password"
        class="form-control"
        id="passwordField"
        placeholder="Password"
        required
        name="password"
        ngModel
        password
        #password="ngModel"
        
      />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="field-error"
      >
        <img src="assets/media/error.svg" alt="Error indicator icon" />
      </div>
    </div>
  </div>
  <div  class="submit-error-feedback">
    
  </div>
  <button
    type="submit"
    value="submit"
    class="btn btn-form"
    [disabled]="!loginForm.form.valid"
  >
    Login
  </button>
</form> -->
<form id="loginForm" #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm.value)">
  <h2>Log in to an account</h2>
  <span>Enter e-mail</span>
  <input
    type="email"
    class="form-control"
    id="emailField"
    aria-describedby="email"
    placeholder="Enter email"
    required
    name="email"
    ngModel
    email
    #email="ngModel"
  />
  <span>Enter password</span>
  <input
    type="password"
    class="form-control"
    id="passwordField"
    placeholder="Password"
    required
    name="password"
    ngModel
    password
    #password="ngModel"
  />
  <button class="login-butt mt-3" type="submit" value="submit">Log in</button>
</form>
