$primaryBlue: #35838D;
$primaryBlueLight: #4FB6C3;
$secondaryGrey: #7B7B7B;
$secondaryGreyLight: #B4B4B4;
$secondaryLighterGrey: #F1F1F1;


$dark: #2B2B2B;
$white: #FFFFFF;

$primaryGradient: linear-gradient(180deg, rgba(53, 131, 141, 0.75) 0%, #035555 100%);


$white: rgb(255, 255, 255);

$blue: #005a96;
$blue-1: #0060a0;
$blue-light: #65c6e7;
$blue-dark: #004879;
$title-blue: #3585be;

$gray: #808080;
$gray-1: #f3f4f6;
$gray-light: rgb(161, 161, 161);

$green: #00A300;

$red: red;

$black: black;
