@import "colors";

form {
	background-color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;

	input {
		background-color: #eee;
		border: none;
		padding: 12px 15px;
		margin: 8px 0;
		width: 100%;
	}

	button {
		border-radius: 10px;
		height: 40px;
		width: 150px;
		background-color: #35838d;
    	border-color: transparent;
		color: $white;
		font-size: 12px;
		font-weight: bold;
		padding: 5px 45px;
		letter-spacing: 1px;
		transition: transform 80ms ease-in;
	}
}
